<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
  <style media="screen">
    body {
      padding-top: 40px;
    }
    .is-loading {
      background-color: red;
    }
  </style>
</head>
<body>
  <div id="root" class="container">
    <div>
      <progress-view inline-template>
        <div>
          <h1>{{ completionRate }}%</h1>
          <button @click="completionRate += 10">Plus</button>
        </div>
      </progress-view>
    </div>
  </div>

  <script src="https://unpkg.com/vue@2.5.9/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>
